body {
    text-align: center;
}

body>p {
    font-family: Georgia Serif;
    color: #4b4b4b;
}

h2 {
    font-family: "Avenir Next Condensed";
    text-shadow: #bababa 2px 2px;
}

p {
    display: inline;
}


button {
    background-color: lightgray;
    color: rgba(0,0,0,0.81);
    border: black 1px solid;
    border-radius: 5px;
}

button:hover {
    background-color: #3a736e;
    color: white;
}

button:focus {
    outline-style: none;
}

button:active {
    background-color: #1e3d38;
    color: white;
}

select {
    font-size: 12px;

    box-shadow: black;
}

#board {
    border: double 5px black;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    min-height: 64px;
}

#board div{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: lightgray;
    margin: 5px;
    line-height: 45px;
}

#board p{
    line-height: 32px;
    margin: 30px;
}

#guessLetterDiv {
    display: none;
    margin: 20px auto 10px auto;
    width: 150px;
}

#hangmanImage {
    margin: 20px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#guessesLeftDiv {
    display: none;
}

#guessesLeft {
    display: inline;
}

#guessedLetters p {
    margin-right: 7px;
}

#scoreDiv {
    position: absolute;
    top: 5px;
    right: 30px;
}

#message {
    margin-top: 10px;
    color: #d30000;
}

#message img {
    height: 100px;
}

#container {
    display: none;
    position: relative;
}

#previouslyGuessed {
    position: absolute;
    top: 0;
    right: 10px;
    height: 82%;
    border: solid black 2px;
    padding: 5px;
    width: 140px;
}

#previouslyGuessed p {
    color: red;
    display: inline;
}
