body {
    text-align: center;
}
p {
    display: inline;
}

#board {
    border: double 5px black;
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

#board div{
    display: inline-block;
    width: 50px;
    height: 35px;
    background-color: lightgray;
    margin: 5px;
    padding-top: 15px;
}

#guessDiv {
    display: none;
    margin: 20px auto 10px auto;
    width: 100px;
}