/* nav {
    background-color: #559bff;
}

p {
    display: inline;
}

ul {
    display: inline;
    list-style-type: none;
}

li {
    margin: 5px;
    display: inline-block;
} */
#keyboard {
    border: black double 2px;
    min-height: 100px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#keyboard div {
    background-color: lightgray;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 5px;
}

p {
    display: inline;
}
